:root {

}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F2937;
  color: #F9FAF8;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 4rem;
  margin: 0 8rem;
}

.logo {
  font-size: 24px;
}

.header-list {
  font-size: 18px;
  display: inline-flex;
  list-style: none;
  gap: 16px;
}

.links {
  text-decoration: none;
  color: #F9FAF8;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 4rem 8rem;
}

.hero-header {
  font-size: 48px;
  font-weight: bold;
}

.hero-text {
  font-size: 18px;
  width: 450px;
  margin: 0.7rem 0rem;
}

.hero-button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #3882F6;
  border-radius: 0.3rem;
  padding: 0.4rem 1.2rem;
  font-size: 14px;
  font-weight: bold;
}

.hero-img {
  width: 520px;
  height: 230px;
}

.info-section {
  background-color: #F9FAF8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-header {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 8rem;
}

.info-text {
  text-align: center;
  color:#1F2937;
  width: 150px;
}

.info-img {
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 0.5rem;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  margin: 8rem 8rem 0 8rem;
}

.quote-author {
  color: #1F2937;
  font-size: 18px;
  font-weight: bold;
  margin: 4rem 0;
}

.action-section {
  background-color: #F9FAF8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3882F6;
  border-radius: 0.25rem;
  background-color: #3882F6;
  padding: 4rem 8rem;
  margin: 8rem 0;
  gap: 16px;
}

.action-header {
  font-size: 18px;
  font-weight: bold;
}

.action-button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 0.3rem;
  padding: 0.4rem 1.2rem;
  font-size: 14px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 18px;
  padding: 2rem;
}